html{
  background-color: slategrey;
}

.App {
  text-align: center;
}
ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 6%;
  padding: 12px;
  box-shadow: 0 1px 3px black, 0 1px 2px black;
  background-color: darkgoldenrod;

}

li {
  list-style: none;
  margin-right: 2%;
}
a{
  color: whitesmoke;
  font-size: 1.2rem;
  text-decoration: none;
}